name: build
on: [push]

jobs:
  goluwa:
    runs-on: ubuntu-latest

    steps:
      - name: checkout the project
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable

      - name: Build LuaJIT 
        run: |
          nix develop --command bash -c "which luajit && luajit -v"
      
      - name: Run goluwa tests
        run: |
          nix develop --command bash -c "luajit glw test"