name: build
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: checkout the project
        uses: actions/checkout@v4

      - name: install nix package manager
        uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable

      - name: build luajit 
        run: |
          nix develop --command bash -c "which luajit && luajit -v"
      
      - name: smoke vulkan lavapipe test
        run: |
          nix develop --command bash -c "vulkaninfo --summary 2>&1 | grep -E '(deviceName|driverName|apiVersion)' || true"
      
      - name: run tests
        run: |
          nix develop --command bash -c "luajit glw test --verbose"